.productImageContainer {
    width          : 130px;
    height         : 150px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    padding        : 0;

}


.productImage {
    width : 130px !important;
    height: 150px;
}

.removeButtonContainer {
    margin-left: 8px;
    padding-top: 4px;
}