.openIconContainer--minicart-header__mobile {
    width  : auto;
    padding: 0;
    margin : 0;
}

.cartIcon--minicart-header__mobile {
    width  : 25px;
    height : 25px;
    margin : 0;
    padding: 0;
}

.minicartContainer--minicart-header__mobile {
    padding: 0;
    margin : 0;
}

.minicartEmptyStateContainer {
    justify-content: flex-start;
}

.closeIconButton {
    position: absolute;
    right   : 0;
}

.minicartTitle {
    margin-top    : 15px;
    margin-left   : 10px;
    text-transform: lowercase;
    font-weight   : 600;
    font-size     : 20px;
    letter-spacing: 1px;
}

.minicartEmptyStateContainer {
    margin-top: 60px;
}

.minicartCheckoutButton :global(.vtex-button) {
    background-color: black;
    border          : none;
}

.drawer {
    width: 340px !important;
}