.container--home__section--global {
    background-color: black;
    padding: 10px !important;
    width: 92% !important;
    height: 55px !important;
}

.paragraph{
    color: white;
    font-size: 20px;
}

.paragraph--drawer-title {
    width: 100%;
    position: absolute;
    color: black;
    top: -10px;
    padding: 18px;
    left: 0;
    font-size: 12px;
    border-bottom: 2px solid black;
}