/*----------FLEX-LAYOUT GLOBAL----------------*/

.flexRow--home__section-2 {
    padding-top: 30px;
}


.flexCol--drawer-buscar {
    padding-left: 20px;
    padding-right: 20px;
}

.flexColChild--items-information {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.flexRowContent--content-slider-products {

    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.flexRowContent--image-product__minicar {
    width: 120px;
    height: 150px;
    padding: 0;
}

.flexRowContent--content-list__minicart {
    justify-content: flex-start;
    margin-top: 40px;
}


.flexRowContent--actions-minicart {
    width: 125px !important;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

.flexCol--item-plus .flexColChild--item-plus:last-child {
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
}
