.flexRowContent--mobile__section-1 {
    margin-top: 30px;
}

.flexRowContent--mobile__section-2 {
    margin-top: 15px;
    padding: 0px 20px;
}

.flexRowContent--items-plus__buscar, .flexRowContent--items-plus__login {
    align-items: center;
}

