.paragraph--menu-inferio_text {
    margin: 0;
    font-weight: 600;
}

.paragraph--tu-cuenta {
    /* margin-top: 2px; */
    transform: translateY(-6px);
}
.paragraph--busqueda {
    /* margin-top: 5px */
    transform: translateY(2px);
}