.tileListList {
    flex-direction: column !important;
}

.itemList--suggestion {
    display: none;
}


.searchBarInnerContainer {
    position: relative;
}

.searchBarContainer {
    position: relative;
}

.searchBarContainer .autoCompleteOuterContainer:global(.vtex-store-components-3-x-portalContainer) {
    left: initial;
}

.biggy-autocomplete {
    width: 52%;
    max-width: 460px;
    min-width: 290px;
}
.itemList--history {
    display: none;
}