.biggy-autocomplete {
    margin-top: 10px;
    width: 34%;
    transform: translateX(13%);
}

.tileListList {
    flex-direction: column !important;
}

.itemList--suggestion {
    display: none;
}

@media (max-width: 720px) {
    .biggy-autocomplete {
        width: 50%;
        transform: translateX(10%);
    }
}

@media (max-width: 480px) {
    .biggy-autocomplete {
        width: 60%;
        transform: translateX(23%);
    }
}