/* Example desktop:
.minicartTitle {
    display: none;
} */

.minicartContainer {
    padding: 0;
}

.openIconContainer {
    padding: 0;

}

.minicartQuantityBadge {
    background-color: black;
}

