.container--departmen-ropa {
    padding-left: 24px;
}

.container--text__colecciones-image {
    position: absolute;
    width: 50% !important;
    top: 170px;
    left: 100px;
}

.paragraph--text__colecciones-image {
    letter-spacing: 2px;
    font-weight: 1000 !important;
}