.container {
    margin-top: 20px;
}

.listItemActive :global(.vtex-button) {
    background-color: black;
    border          : none;
}

.listItemActive :global(.vtex-button__label) {
    color: white !important;
}

.listItem :global(.vtex-button__label) {
    color: black;
}