.container .label {
    display: block;
    color: black;
    text-transform: capitalize;
    font-size: 17px;
    padding-left: 5px;
}

.container {
    margin-bottom: px;
}

.sendButton :global(.vtex-button) {
    background-color: black;
    border: none ;
    border-radius: 0;
    width: 170px;

}
.sendButton :global(.vtex-button):hover {
    background-color: rgb(37, 37, 37);
}