.flexRow--footer__container {
    padding-left: 1%;
    margin-top: 17%;
}

.flexColChild--footer__getAndTouch:first-child {
    height: 30% !important;
}

.flexRow--redes__sociales {
    width: 15%;
}

.flexColChild--footer__ayuda {
    text-decoration: none !important;
}

.flexRow--footer__derechosReservados {
    margin-top: 100px;
    padding-left: 3rem;
}

.flexRowContent--footer-mobile {
    margin-bottom: 51px;
}
.flexRowContent--footer__derechosReservados-mobile {
    margin-top: 51px;
} 

