.departmentsTitle {
    border-bottom: 2px solid black;
    text-align: center;
    font-size: 12px;
    padding: 18px 0px;
    margin-top: 0;
}

.styledLinkContainer {
    padding: 12px 0px;
}

.menuContainerVertical {
    margin-bottom: 0px;
}